
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #fefefe;
    display: grid;
   
}

header{
    width: 100%;
    height: 80px;
    background-color: rgba(98, 98, 226, 0.938);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger{
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: #11101b;
    background: #fefefe;
}

.nav-bar ul li a.active{
    color: #11101b;
    background: #fefefe;
}

@media(max-width:1320px){
    header{
        padding: 0 50px;
    }
}

@media(max-width:1100px){
    header{
        padding: 0 30px;
    }
}

@media(max-width:900px){
    .hamburger{
       display: block;
       cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
       position:absolute;
       top: 80px;
       left: 0;
       right: 0;
       width: 100vw;
       background: #11101b;
       transition: 0.2s;
       overflow: hidden;
    }

    .nav-bar.active{
        height: 450px;
    }


    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }


    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a{
        margin-bottom: 12px;
        
    }
}



.banner img{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.banner-txt{
    position: absolute;
    top: 80%;
}

.banner-txt h2{
    font-size: 38px;
    color: #fff;
    text-align: center;
    align-items: center;
}

.banner-txt p{
    padding-top: 10px;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: #fff;
}

.banner button{
    padding: 18px;
    cursor: pointer;
    background: rgb(124, 124, 181);
    font-size: 16px;
    color: #fff;
    border: none;
   margin-left: 180px;
}

.banner button:hover{
    background: rgb(13, 13, 152);
}

.middle{
    display: flex;
    font-size: 18px;
    font-weight: 700;
}

.middle a:hover{
    color: rgb(13, 13, 152);
    border-bottom: 1px solid rgb(13, 13, 152);
}

.middle a{
    text-decoration: none;
    color: black;
    padding: 30px;
    padding-left: 50px;
}

@media(max-width:1110px){
    .middle a{
        flex-direction: column;
    }
}

#overview{
    background-color: rgb(244, 241, 241);
    padding: 50px 12%;
    font-size: 22px;
}

#overview p{
    font-size: 18px;
    font-family: sans-serif;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img{
    position: absolute;
    border-radius: 20px;
    display: block;
    padding: 20px;
    width: 40%;
    margin: auto;
    right: 10%;
    top: 130%;
    text-align: center;
    margin-bottom: 30px;
    transition: all 0.6s ease;
}

.img-col img:hover{
    transform: scale(1.1);
}

#overview h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media(max-width:600px){
    .text-col, .img-col{
        flex-basis: 100%;
    }
}

.texxt-col{
    padding: 50px 12%;
}

#eligibility{
    background-color:rgb(244, 241, 241); 
    font-size: 18px;
    font-family: sans-serif;
}

#eligibility .help{
    display: flex;
   
}
#eligibility .msg{
    padding: 30px;
}

#prep{
    background-color:rgb(244, 241, 241); 
    font-size: 18px;
    font-family: sans-serif;
}

#treatment{
    background-color:rgb(244, 241, 241); 
    font-size: 18px;
    font-family: sans-serif;
}
#post{
    background-color:rgb(244, 241, 241); 
    font-family: sans-serif;
    font-size: 18px;
}

#recovery{
    background-color:rgb(244, 241, 241); 
font-size: 18px;
font-family: sans-serif;
}


.help{
    padding: 40px;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.help h4{
    font-family: cursive;
    font-size: 25px;
    color: blue;
}

.help input{
    padding: 10px;
}

.help button{
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(98, 98, 226, 0.938);
    font-size: 19px;
}

#faq{
    background-color:rgb(244, 241, 241); 
    padding: 30px;
}

hr{
    height: 3px;
    width: 3px;
}

.accordian{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordian li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordian li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    background: white;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition:transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordian .content{
    background: #303030;
    /* text-align: left; */
    padding: 0 20px;
    color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}


.last-bann{
    background-color: rgb(38, 38, 153);
    text-align: center;
    align-items: center;
}

.last-bann h4{
    font-size: 28px;
    padding-top: 20px;
    color: #fff;
    font-weight: 600;
}

.last-bann h1{
    font-size: 32px;
    color: #fff;
    padding: 20px;
}

.last-bann button{
    padding: 15px;
    background: rgb(124, 124, 181);
}

.last-bann span{
    color: #fff;
    font-size: 24px;
}

.hospital{
    padding-bottom: 20px;
    cursor: pointer;
}

.hospital h5{
    font-size: 27px;
    color: red;
}

.hospital h2{
    font-size: 33px;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

.hospital span{
    color: blue;
}

.hospital p{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hospital a{
    text-decoration: none;
    color: red;
    border-bottom: 1px solid red;
}

.patient h3{
    text-align: center;
    align-items: center;
    font-size: 32px;
    font-family: cursive;
    color: red;
    padding-bottom: 20px;
}

.patient{
    padding-top: 20px;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
  
}



.cards{
 background-color: lightblue;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
padding: 60px;
grid-gap: 40px;
}

.card{
    cursor: pointer;
border-radius: 20px;
box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.container{
    position: relative;
    clip-path: polygon(0,0,100% 0, 100% 85%, 0 100%);
}

.cards img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    
}



.container::after{
content: "";
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
border-radius: 20px 20px 0;
opacity: 0.7;
}

.card1>.container::after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card2>.container::after{
    background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}


.card3>.container::after{
    background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}

.details{
    padding: 20px 10px;
}

.details>h3{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.details>p{
    color: black;
    font-size: 17px;
    line-height: 30px;
    font-weight: 800;
}



.hospital img{
    text-align: center;
   border: dotted;
   margin-left: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: all 0.6s ease;
    height: 340px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid red;
    opacity: 8;
}

.hospital img:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.hospital p{
    font-size: 19px;
}

.last-bann{
    padding: 40px;
    cursor: pointer;
}

.last-bann button{
    background-color: #e91e64;
}

.last-bann button:hover{
    background-color: transparent;
}


footer .container{
    background-color: #0F2C59;
    
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    color: #fff;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #e91e64;
    bottom: -10px;
}

.footer-col ul li{
    padding: 10px 0;
}

.footer-col ul li a{
color: white;
text-decoration: none;
font-size: 16px;
opacity: 0.7;
margin-bottom: 10px;
transition: 0.5s;
}

.footer-col ul li a:hover{
    opacity: 1;
}

.line{
    height: 2px;
    width: 15px;
    color: white;
}

.row1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.footer-col1{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}